.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px; 
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

div.mytooltip {
    position: absolute;	
    text-align: center;	
    width: 60px;	
    height: 30px;
    padding: 2px;	
    font: 12px sans-serif;	
    background: lightsteelblue;	
    border: 0px;					
    border-radius: 8px;
    opacity: 0.1;
   /*  pointer-events: none;	This line needs to be removed */      
}
