.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.nodetext {
    font-size:10px; 
    font-family:sans-serif;
}

.optionalnodetext {
    color: gray;
    font-size:10px; 
    font-family:sans-serif;
}

.recommendednodetext {
    color: black;
    font-size:10px; 
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: blue;
    stroke-width: 1.5px;
}

.branchlink {
    fill: none;
    stroke: none;
    stroke-dasharray: 4 1;
    stroke-width: 1.5px;
}

.recommendedbranchlink {
    fill: none;
    stroke: none;
    stroke-dasharray: 4 1;
    stroke-width: 1.5px;
}

.optionalbranchlink {
    fill: none;
    stroke: none;
    stroke-dasharray: 4 1;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}

.tooltip-module {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    background: #fff;
    color: #333;
    border: 1px solid #bfbcbc;
    padding: 25px;
    left: 0;
    min-width: 325px;
    z-index: 10;
    text-align: left;
}

.tooltip-module .information {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div.mytooltip {
    position: absolute;	
    text-align: center;	
    width: 25px;	
    height: 15px;
    padding: 2px;	
    font: 12px sans-serif;	
    background: lightsteelblue;	
    border: 0px;					
    border-radius: 8px;
    opacity: 0;
   /*  pointer-events: none;	This line needs to be removed */      
}
